<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	<link rel="stylesheet" href="__PUBLIC__/css/head.css">
    <link rel="stylesheet" href="__PUBLIC__/css/jquery.hiSlider.min.css">
	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
</head>
<body>
	<include file="Public/header" title="前台头部" />
	<div class="container-index">
		<div class="banner">
			<ul class="hiSlider hiSlider1">
		        <li class="hiSlider-item"><img src="__PUBLIC__/images/1.jpg" alt="11111"></li>
		        <li class="hiSlider-item"><img src="__PUBLIC__/images/2.jpg" alt="22222"></li>
		        <li class="hiSlider-item"><img src="__PUBLIC__/images/3.jpg" alt="33333"></li>
		    </ul>
		</div>

		<script src="__PUBLIC__/js/jquery.hiSlider.min.js"></script>
		<script>
		    $('.hiSlider1').hiSlider();
		    $('.hiSlider2').hiSlider({
		        isFlexible: true,
		        mode: 'fade',
		        isSupportTouch: false,
		        isShowTitle: false,
		        isShowPage: false,
		        titleAttr: function(curIdx){
		            return $('img', this).attr('alt');
		        }
		    });
		    $('.hiSlider3').hiSlider({
		        isFlexible: true,
		        isSupportTouch: true,
		        titleAttr: function(curIdx){
		            return $('img', this).attr('alt');
		        }
		    });
		    $('.hiSlider4').hiSlider({
		        startSlide: 2,
		        direction: 'top'
		    });
		</script>
		<div class="container-left">
			<volist name="left" id="lv">
				<div class="link-nav">
					<span><a href="{:U('Product/index',array('id'=>$lv['id']))}">{$lv.name}</a></span>
						<volist name="lv['child']" id="v">
								<a href="{:U('Product/index',array('id'=>$v['id']))}">{$v.name}</a>
						</volist>
				</div>
			</volist>

		</div>
		<div class="container-right">
			<div class="product-show">
				<foreach name="hot" item="v">
					<div class="product-card">
						<a href="{:U('Single/index')}&pid={$v.id}">
							<img src="__IMAGE__/{$v.photourl}{$v.photoname}" />
						</a>
						<span>{$v.name}</span>
						<h5>￥{$v.price}</h5>
						<!-- <a href="#" class="item_add">放入购物车</a> -->
					</div>
				</foreach>
			</div>
		</div>
	</div>
</body>
</html>