<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	<link rel="stylesheet" href="__PUBLIC__/css/head.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bannerList.css">
	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
</head>
<body>
	<include file="Public/header" title="前台头部" />
	<div class="container">
		<div class="container-left">
			<volist name="left" id="lv">
				<div class="link-nav">
					<span><a href="{:U('Product/index',array('id'=>$lv['id']))}">{$lv.name}</a></span>
						<volist name="lv['child']" id="v">
								<a href="{:U('Product/index',array('id'=>$v['id']))}">{$v.name}</a>
						</volist>
				</div>
			</volist>

		</div>
		<div class="container-right">
			<div class="banner">
				<ul class="">
				<foreach>
				</foreach>		
				<li><a href=""><img src="__PUBLIC__/images/banner1.jpg" alt=""></a></li>
				<li><a href=""><img src="__PUBLIC__/images/banner2.jpg" alt=""></a></li>
				<li><a href=""><img src="__PUBLIC__/images/banner3.jpg" alt=""></a></li>
				<li><a href=""><img src="__PUBLIC__/images/banner4.jpg" alt=""></a></li>
				</ul>
				<div class="left-btn"></div>
				<div class="right-btn"></div>
				<div class="img-btn-list"></div>
			</div>

			<script src="__PUBLIC__/js/bannerList.js"></script>
			<script>
			bannerListFn(
			$(".banner"),
			$(".img-btn-list"),
			$(".left-btn"),
			$(".right-btn"),
			2000,
			true
			);
			</script>
			<div class="product-show">
				<foreach name="hot" item="v">
					<div class="product-card">
						<a href="javascript:;">
							<img src="__IMAGE__/{$v.photourl}{$v.photoname}" />
						</a>
						<span>{$v.name}</span>
						<h5>￥{$v.price}</h5>
						<!-- <a href="#" class="item_add">放入购物车</a> -->
					</div>
				</foreach>
			</div>
		</div>
	</div>
</body>
</html>