<!DOCTYPE html>
<html>
<head>
<title>Products</title>
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="__PUBLIC__/css/head.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/addCar.js"></script>
</head>
<body>
	<include file="Public/header" title="前台头部" />
<div class="products">
<div class="container">
<h1>产品列表</h1>
<div class="col-md-9">
<div class="content-top1">

<foreach name="model" item="v">
	<div class="col-md-4 col-md3">
	<div class="col-md1 simpleCart_shelfItem">
	<a href="{:U('Single/index')}&pid={$v.id}">
	<img class="img-responsive" src="__IMAGE__/{$v.photourl}{$v.photoname}" alt="" />
	</a>
	<h3><a href="single.html">{$v.name}</a></h3>
	<div class="price">
	<h5 class="item_price">¥{$v.price}</h5>
	<!-- <a href="#" class="addCar item_add">放入购物车</a> -->
	<div class="clearfix"> </div>
	</div>
	</div>
	</div>
</foreach>

<div class="clearfix"> </div>
</div>	
</div>
<div class="col-md-3 product-bottom">
<div class=" rsidebar span_1_of_left">
<h3 class="cate">产品分类</h3>
<ul class="menu-drop">
<li class="item1"><a href="javascript:;" class="menumain">显卡</a>
<ul class="cute" id="cute1">
<li class="subitem1"><a href="product.html">官方专卖C24F396FH</a></li>
<li class="subitem2"><a href="product.html">官方专卖C24F396FH</a></li>
<li class="subitem3"><a href="product.html">官方专卖C24F396FH</a></li>
</ul>
</li>
<li class="item2"><a href="javascript:;" class="menumain">屏幕</a>
<ul class="cute">
<li class="subitem1"><a href="product.html">官方专卖C24F396FH</a></li>
<li class="subitem2"><a href="product.html">官方专卖C24F396FH</a></li>
<li class="subitem3"><a href="product.html">官方专卖C24F396FH</a></li>
</ul>
</li>
<li class="item3"><a href="javascript:;" class="menumain">内存条</a>
<ul class="cute">
<li class="subitem1"><a href="product.html">官方专卖C24F396FH</a></li>
<li class="subitem2"><a href="product.html">官方专卖C24F396FH</a></li>
<li class="subitem3"><a href="product.html">官方专卖C24F396FH</a></li>
</ul>
</li>
<li class="item4"><a href="javascript:;" class="menumain">主板</a>
<ul class="cute">
<li class="subitem1"><a href="product.html">官方专卖C24F396FH</a></li>
<li class="subitem2"><a href="product.html">官方专卖C24F396FH</a></li>
<li class="subitem3"><a href="product.html">官方专卖C24F396FH</a></li>
</ul>
</li>

<li class="item4">
<a href="javascript:;" class="menumain">硬盘</a>
<ul class="cute">
<li class="subitem1"><a href="product.html">官方专卖C24F396FH</a></li>
<li class="subitem2"><a href="product.html">官方专卖C24F396FH</a></li>
<li class="subitem3"><a href="product.html">官方专卖C24F396FH</a></li>
</ul>
</li>
</ul>
</div>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/right.menu.js"></script>
<div class="product-bottom">

<h3 class="cate">热卖爆款</h3>

<foreach name="newest" item="v">
	<div class="product-go">
	<div class=" fashion-grid">
	<a href="single.html"><img class="img-responsive " src="__PUBLIC__/images/pr.jpg" alt=""></a>	
	</div>
	<div class=" fashion-grid1">
	<h6 class="best2"><a href="single.html" >{$v.name}</a></h6>
	<span class=" price-in1"> ¥{$v.price}</span>
	</div>	
	<div class="clearfix"> </div>
	</div>
</foreach>

</div>
<div class="tag">	
<h3 class="cate">标签</h3>
<div class="tags">
<ul>
<li><a href="#">显卡</a></li>
<li><a href="#">键盘</a></li>
<li><a href="#">显示器</a></li>
<li><a href="#">鼠标</a></li>
<div class="clearfix"> </div>
</ul>
</div>					
</div>
</div>
<div class="clearfix"> </div>
</div>
</div>
</body>
</html>