<!DOCTYPE html>
<html>
<head>
<title>Single</title>
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="__PUBLIC__/css/head.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/addCar.js"></script>
</head>
<body>
	<include file="Public/header" title="前台头部" />

<div class="single">

<div class="container">
<div class="col-md-9">
	<foreach name="pro" item="v">

	<div class="col-md-5 grid">		
		<div class="flexslider">
			  <ul class="slides">
			  	<foreach name="pro" item="v">
				    <li data-thumb="__IMAGE__/{$v.photourl}{$v.photoname}">
				        <div class="thumb-image"> <img src="__IMAGE__/{$v.photourl}{$v.photoname}" data-imagezoom="true" class="img-responsive"> </div>
				    </li>

				    <li data-thumb="__IMAGE__/{$v.photourl}{$v.photoname}">
				        <div class="thumb-image"> <img src="__IMAGE__/{$v.photourl}{$v.photoname}" data-imagezoom="true" class="img-responsive"> </div>
				    </li>

				    <li data-thumb="__IMAGE__/{$v.photourl}{$v.photoname}">
				        <div class="thumb-image"> <img src="__IMAGE__/{$v.photourl}{$v.photoname}
				        " data-imagezoom="true" class="img-responsive"> </div>
				    </li>
			    </foreach>
			  </ul>
		</div>
	</div>	
		<div class="col-md-7 single-top-in">
			<div class="single-para simpleCart_shelfItem">
				<h1>{$v.name}</h1>
				<p>分辨率: 1920x1080
					水平可视角度: 178°
					成色: 全新
					液晶屏种类: 完美屏
					屏幕比例: 16:9
					标称对比度: 3000:1
					屏幕类型: LED</p>
				<span class="mon">¥</span><span  class="add-to item_price thisPrice">{$v.price}</span>
				<div class="available">
				<ul>
					<li>型号:
						<select>
						<option>14英寸</option>
						<option>15.6英寸</option>
						<option>23.5英寸</option>
						</select>
					</li>
					<li>数量:
						<input type="button" value="-" class="reduce">
						<input type="text" class="pro-num count" value="1">
						<input type="button" value="+" class="add">
					</li>
				</ul>
				</div>
				<div class="alert alert-warning">
				    <p>17寸正屏4:3一线屏显示器</p>
				    <p>限量 推荐：22寸暗线多点显示器</p>
				</div>
					<a href="javascript:;" class="addCar cart item_add add_big">放入购物车</a>
					<input type="hidden" class="id" name="" value="{$v.id}">
			</div>
		</div>
	
	
	<div class="col-md-12 grid" id="detiles">
	{$v.detailsC}
		<!-- <h1>商品详情</h1>
		<p>
		CCC证书编号: 2016010903878416<br/>
		产地: 中国大陆<br/>
		品牌: CMOGOOD/启美<br/>
		型号: QM220D<br/>
		套餐类型: 官方标配<br/>
		摄像头类型: 无摄像头<br/>
		是否无线: 有线<br/>
		附加功能: 可壁挂<br/>
		颜色分类: 17寸正屏4:3一线屏显示器 17寸正屏一线USB电视显示器 19寸一线屏电脑显示器 <br/>19寸一线屏USB电视显示器 20寸一线屏电脑显示器 20寸一线屏USB电视显示器 22寸一线屏电脑显示器 22寸一线屏USB电视显示器 24寸一线屏电脑显示器 24寸一线屏USB电视显示器 <br/>推荐：19寸暗线多点显示器 限量 推荐：19暗线USB电视显示器 限量 推荐：22寸暗线多点显示器 限量 推荐：22暗线USB电视显示器 限量 推荐：24寸暗线晕点显示器 限量 推荐：24暗线晕点USB电视显示器 27寸一线屏电脑显示器<br/>
		屏幕尺寸: 21.5英寸<br/>
		售后服务: 店铺三包<br/>
		是否宽屏: 是<br/>
		黑白响应时间: 2毫秒<br/>
		灰阶响应时间: 5毫秒<br/>
		点距: 0.2745<br/>
		面板类型: IPS<br/>
		接口类型: VGA<br/>
		平均亮度: 500cd/m^2<br/>
		分辨率: 1920x1080<br/>
		成色: 全新<br/>
		液晶屏种类: 普通屏<br/>
		屏幕比例: 16:9<br/>
		上市时间: 2016<br/>
		屏幕类型: LED<br/>
		是否自带音箱: 否<br/>
		适用场景: 游戏 办公 经济适用 媒体<br/>
		</p> -->
		<img src="__IMAGE__/{$v.photourl}{$v.detailsP}" alt="商品详情">
	</div>
	</foreach>
			<div class="clearfix"> </div> 
			<div class="content-top1">
				<h1 style="font-size: 1.5em;font-family: '微软雅黑';color:#000;text-align:center;margin-bottom: 20px;">推荐购买</h1>
				<div class="col-md-4 col-md3">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="single.html">
							<img class="img-responsive" src="__PUBLIC__/images/pi.png" alt="" />
						</a>
						<h3><a href="single.html">九段it168</a></h3>
						<div class="price">
								<h5 class="item_price">¥300</h5>
								<a href="#" class="item_add">放入购物车</a>
								<div class="clearfix"> </div>
						</div>
					</div>
				</div>	
			<div class="col-md-4 col-md3">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="single.html">
							<img class="img-responsive" src="__PUBLIC__/images/pi1.png" alt="" />
						</a>
						<h3><a href="single.html">静音无声无线鼠标</a></h3>
						<div class="price">
								<h5 class="item_price">¥300</h5>
								<a href="#" class="item_add">放入购物车</a>
								<div class="clearfix"> </div>
						</div>
					</div>
				</div>	
			<div class="col-md-4 col-md3">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="single.html">
							<img class="img-responsive" src="__PUBLIC__/images/pi2.png" alt="" />
						</a>
						<h3><a href="single.html">静音无声无线鼠标</a></h3>
						<div class="price">
								<h5 class="item_price">¥300</h5>
								<a href="#" class="item_add">放入购物车</a>
								<div class="clearfix"> </div>
						</div>
					</div>
				</div>	
			
			<div class="clearfix"> </div>
			</div>		
</div>
<div class="col-md-3 product-bottom">
<div class=" rsidebar span_1_of_left">
		<h3 class="cate">产品分类</h3>
			 <ul class="menu-drop">
			<li class="item1"><a href="javascript:;" class="menumain">显卡</a>
				<ul class="cute" id="cute1">
					<li class="subitem1"><a href="product.html">官方专卖C24F396FH</a></li>
					<li class="subitem2"><a href="product.html">官方专卖C24F396FH</a></li>
					<li class="subitem3"><a href="product.html">官方专卖C24F396FH</a></li>
				</ul>
			</li>
			<li class="item2"><a href="javascript:;" class="menumain">屏幕</a>
				<ul class="cute">
					<li class="subitem1"><a href="product.html">官方专卖C24F396FH</a></li>
					<li class="subitem2"><a href="product.html">官方专卖C24F396FH</a></li>
					<li class="subitem3"><a href="product.html">官方专卖C24F396FH</a></li>
				</ul>
			</li>
			<li class="item3"><a href="javascript:;" class="menumain">内存条</a>
				<ul class="cute">
					<li class="subitem1"><a href="product.html">官方专卖C24F396FH</a></li>
					<li class="subitem2"><a href="product.html">官方专卖C24F396FH</a></li>
					<li class="subitem3"><a href="product.html">官方专卖C24F396FH</a></li>
				</ul>
			</li>
			<li class="item4"><a href="javascript:;" class="menumain">主板</a>
				<ul class="cute">
					<li class="subitem1"><a href="product.html">官方专卖C24F396FH</a></li>
					<li class="subitem2"><a href="product.html">官方专卖C24F396FH</a></li>
					<li class="subitem3"><a href="product.html">官方专卖C24F396FH</a></li>
				</ul>
			</li>
					
			<li class="item4"><a href="javascript:;" class="menumain">硬盘</a>
				<ul class="cute">
					<li class="subitem1"><a href="product.html">官方专卖C24F396FH</a></li>
					<li class="subitem2"><a href="product.html">官方专卖C24F396FH</a></li>
					<li class="subitem3"><a href="product.html">官方专卖C24F396FH</a></li>
				</ul>
			</li>
		</ul>
	</div>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/right.menu.js"></script>
<div class="product-bottom">
		<h3 class="cate">热款推荐</h3>
	<div class="product-go">
		<div class=" fashion-grid">
			<a href="single.html"><img class="img-responsive " src="__PUBLIC__/images/pr.jpg" alt=""></a>	
		</div>
		<div class=" fashion-grid1">
			<h6 class="best2"><a href="single.html" >官方专卖C24F396FH</a></h6>
			<span class=" price-in1"> ¥40.00</span>
		</div>	
		<div class="clearfix"> </div>
	</div>
	<div class="product-go">
		<div class=" fashion-grid">
			<a href="single.html"><img class="img-responsive " src="__PUBLIC__/images/pr1.jpg" alt=""></a>	
		</div>
		<div class=" fashion-grid1">
			<h6 class="best2"><a href="single.html" >官方专卖C24F396FH</a></h6>
			<span class=" price-in1"> ¥40.00</span>
		</div>	
		<div class="clearfix"> </div>
	</div>
	<div class="product-go">
		<div class=" fashion-grid">
			<a href="single.html"><img class="img-responsive " src="__PUBLIC__/images/pr2.jpg" alt=""></a>	
		</div>
		<div class=" fashion-grid1">
			<h6 class="best2"><a href="single.html" >官方专卖C24F396FH</a></h6>
			<span class=" price-in1"> ¥40.00</span>
		</div>	
		<div class="clearfix"> </div>
	</div>	
	<div class="product-go">
		<div class=" fashion-grid">
			<a href="single.html"><img class="img-responsive " src="__PUBLIC__/images/pr3.jpg" alt=""></a>	
		</div>
		<div class=" fashion-grid1">
			<h6 class="best2"><a href="single.html" >官方专卖C24F396FH</a></h6>
			<span class=" price-in1"> ¥40.00</span>
		</div>	
		<div class="clearfix"> </div>
	</div>		
</div>
<div class="tag">	
		<h3 class="cate">标签</h3>
	<div class="tags">
		<ul>
			<li><a href="#">显卡</a></li>
			<li><a href="#">键盘</a></li>
			<li><a href="#">显示器</a></li>
			<li><a href="#">鼠标</a></li>
		<div class="clearfix"> </div>
		</ul>
</div>					
</div>
</div>
<div class="clearfix"> </div>
</div>
</div>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/imagezoom.js"></script>
<script defer src="__PUBLIC__/js/jquery.flexslider.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/flexslider.css" type="text/css" media="screen" />

<script>
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script>
<script type="text/javascript">
	$(function(){
		var reduce = $('.reduce');
		var add = $('.add');
		var pro_num = $('.pro-num');
		var num_value = pro_num.val();
		add.click(function(){
			num_value++;
			pro_num.val(num_value);
		});
		reduce.click(function(){
			if(num_value >= 2){
				num_value--;
				pro_num.val(num_value);
			}
		});
	});
</script>
</body>
</html>