.container{
	display:none;
	background:#fff;
	width:80%;
	height:auto;
	position: absolute;
	top:50px;
	left:50%;
	transform: translate(-50%,0);
	transition: top 1s;
	box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
}
#con-title{
	display: block;
	font-size:20px;
	line-height:35px;
	font-family: '微软雅黑';
	color:#2D353C;
	width:100%;
	height:35px;
	border-left:6px solid #2D353C;
	margin:10px 40px;
}
.container li{
	display: block;
	margin-top:20px;
	font-size:13px;
}
.container input{
	width:300px;
	border:none;
	border-bottom:1px dotted #777;
	outline:none;
	margin-left:15px;
}
#filed{
	border:none;
}
#submit{
	width:150px;
	height:40px;
	background:#fff;
	border:2px solid #3e6b89;
	color:#3e6b89;
	cursor: pointer;
	font-family: '微软雅黑';
	font-size:18px;
	float: left;
	margin:30px 40px;
	transition:background 1s,color 1s;
}
#submit:hover{
	background:#3e6b89;
	color:#fff;
}