<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[title]</title>

    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/template/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="__PUBLIC__/template/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/template/font-awesome/css/font-awesome.min.css">
</head>

<body>
<div id="page-wrapper">
    <form method="post" action="{:U('Menu/update',array('id'=>I('id')))}">
        <div class="form-group">
            <label for="aa">菜单标题</label>
            <input type="text" name="name" value="{$name}" class="form-control" id="aa" placeholder="输入分类标题">
        </div>

        <input type="submit" name="submit" class="btn btn-default" value="修改" />
    </form>
</div>
<script src="__PUBLIC__/template/js/jquery-1.10.2.js"></script>
<script src="__PUBLIC__/template/js/bootstrap.js"></script>
<script src="__PUBLIC__/template/js/app.js"></script>

</body>
</html>
</body>
</html>