*{
	margin:0;
	padding:0;
}
body{ text-align:center}
@font-face{font-family: 'WebSymbolsRegular';src:url('../fonts/websymbols.woff');}
.header{
	width:100%;
	height:23%;
	position: absolute;
	top:0;
	z-index: 100;
}
.header-top{
	width:100%;
	height:70%;
	position: absolute;
	top:0;
}
.header-title{
	width:100%;
	height:35px;
	background: #000;
	padding:5px 0 0 0;
}
.header-title > span{
	width:15px;
	height:15px;
	float: left;
	line-height:35px;
	margin-left:200px;
}
.header-title > span img{
	width:100%;
	height:100%;
}
#cart-num{
	display: block;
	width:25px;
	height:15px;
	font-size:.5em;
	line-height:15px;
	background:#f00;
	border-radius:15px;
	float: right;
	margin:0 5px;
}
.header-title > a{
	color:#fff;
	text-decoration: none;
	font-size:.8em;
	font-family: '微软雅黑';
	float: right;
	margin:6px 20px;
}
.header-title > a > span{
	width:15px;
	height:15px;
}
.header-title p{
	color:#fff;
	float: left;
	font-size:.8em;
	font-family: '微软雅黑';
	font-weight: bold;
	margin:6px;
}
.header-top .logo{
	width:200px;
	height:200px;
	position: absolute;
	top:0px;
	left:200px;
}
.header-bottom h2{
	font-size: 26px;
	color:#555;
	position:absolute;
	left:25%;
	bottom:60%;
}
.header-bottom span{
	position: absolute;
	right:10%;
	color:#999;
}
.login-link{
	position: absolute;
	right:7%;
	color:#000;
	text-decoration: none;
}
.header-top .logo img{
	width:100%;
	height:100%;
}
.header-top .search{
	width:50%;
	height:50%;
	position: absolute;
	top:50px;
	right:0;
}
.header-top .search input[type="text"]{
	width:500px;
	height:30px;
	outline: none;
	border:1px solid #333;
	float: left;
}
.header-top .search input[type="button"]{
	width:30px;
	height:31px;
	border:1px solid #333;
	background: #333;
	outline: none;
	float: left;
	margin-left:-30px;
	cursor: pointer;
	font-family:'WebSymbolsRegular';
	color:#fff;
}
.header-bottom{
	width:100%;
	height:30%;
	position: absolute;
	bottom:0;
	box-shadow:0 7px 10px rgba(214, 214,214, 0.3);
}
.header-bottom .nav{
	width:100%;
}
.header-bottom .nav > ul{
	display: block;
	width:30%;
	margin:0 auto;
}
.header-bottom .nav > ul > li{
	list-style: none;
	float: left;
	margin:0 20px;
	line-height:40px;
	display: block;
	width:50px;
}
.header-bottom .nav li a{
	text-decoration: none;
	color:#000;
}
.menu_show{
	display: none;
	width:700px;
	height:400px;
	background: #fff;
	border:1px solid #666;
	position: absolute;
	left:35%;
}
.menu_show ul{
	display: block;
	width:200px;
	margin:10px;
	float: left;
}
.menu_show ul span{
	display: block;
	width:100%;
	height:50px;
	border-bottom:1px solid #ccc;
	font-size:1.1em;
}
.menu_show ul li{
	margin:5px 0;
}
.menu_show ul li a{
	margin:10px auto;
	font-size:.9em;
}
.menu_show ul li a:hover{
	text-decoration:underline;
}
.nav ul li:hover .menu_show{
	display: block;
}